[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
dvc = "==2.9.0"
pandas = "*"
scikit-learn = "*"
lightgbm = "*"
fastapi = "*"
uvicorn = "*"
jsonschema = "*"
python-box = "*"
matplotlib = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3"
